body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
#top_banner {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.section_area {
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
}
#dream_area {
  background-image: url("images/dream-bg.png");
  background-position: right;
  background-repeat: no-repeat;
}
#experience_area {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left;
}

.section_height {
  padding-bottom: 100px;
}
.first_half,
.second_half {
  width: 40%;
}

.first_half h1 {
  font-weight: 600;
  font-size: 60px;
}
.first_half span {
  color: orange;
}
.button_style{
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  background: linear-gradient( 
45deg, lightsalmon, tomato);
  /* width: 113px; */
  border-radius: 5px;
}
.second_half img {
  width: 100%;
}

.experience_style {
  display: flex;
  justify-content: flex-start;
  padding: 0px 70px;
}

#full-stack,
#baby-web {
  box-shadow: 5px 5px 20px grey;
  height: auto;
  padding: 20px;
  width: 45%;
  border-left: 8px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
#full-stack p,
#baby-web p {
  text-align: justify;
}
/* footer section */

.footer_style {
  text-align: center;
}
